@import '/styles/mixins';

// Hero Section Begins

div.blogHero {
  height: 100vh;
  max-height: 1080px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-color: #000;
  div.blogHeroCont {
    max-width: 600px;
    margin-top: 0vh;
    @include mediumScreensDesk {
      margin-top: 15vh;
    }
    span.blogDet {
      width: 100%;
      p.dateBlog {
        color: #ee2767;
      }
      p.minsRead {
        color: #ffffffcc;
        margin-left: 4rem;
      }
      border-left: 2px solid #ee2767;
      padding: 0 1rem;
    }
  }
}

// Hero Section Ends

// Summary Begins

div.summaryCont {
  padding: 6rem 0;
  div.summary {
    box-shadow:
      0px 30px 60px -12px #32325d40,
      0px 18px 36px -18px #00000040;
    padding: 2rem;
    border-radius: 25px;
    div.summaryFooter {
      margin-top: 2rem;
      border-top: 1px solid #16212023;
      padding: 1rem 0;
      display: flex;
      div.profile {
        display: flex;
        align-items: center;
        div.authorDet {
          margin-left: 0.8rem;
        }
      }
    }
  }
  @include mediumScreensDesk {
    padding: 2rem 0;
  }
}

// Summary Ends
