@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-main: #f3f3fa;
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-main);
  font-size: 0.9rem;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
